<div class="top-content">
    Assessments overview
    <div class="overview">
        <div class="assesment-count">
            <p>Total Assessment</p>
            34
        </div>
        <div class="candidates">
            <p>Candidates</p>
            <div class="attempt">
                <h4>11,145</h4>
                <h6>Total Candidate</h6>
                <span>|</span>
                <h4>1,14</h4>
                <h6>Who Attempted</h6>
            </div>
        </div>
        <div class="source">
            <p>Candidates Source</p>
            <div class="source-type">
                <h4>11,000</h4>
                <h6>E-mail</h6>
                <span>|</span>
                <h4>145</h4>
                <h6>Social Share</h6>
                <span>|</span>
                <h4>145</h4>
                <h6>Unique Link</h6>
            </div> 
            
        </div>
        <div class="purpose">
            <p>Total Purpose</p>
            <h4>11</h4>
        </div>
    </div>
</div>

<div class="bottom-content">
    <p>My assessment</p>
    <div class="assessment-all">
        <div class="new-assess">
            <div class="circle">
                <button class="add-button">+</button>
                <h6>New Assessment</h6>
                <p>
                    From here you can add questions of multiple types like MCQs,subjective(text or paragraph)
                </p>
            </div>
        </div>
    
        <div class="math-assess">
            <h6>Math Assessment</h6>
        </div>
        <div class="math-assess">
            <h6>Math Assessment</h6>
        </div>
    </div>
    
</div>
