<div class="frame-wrapper1">
  <div class="frame-wrapper2">
    <div class="frame-parent1">
      <div class="assessments-overview-parent">
        <div class="assessments-overview">Assessments Overview</div>
        <div class="frame-parent2">
          <div class="total-assessment-parent">
            <div class="assessment">Total Assessment</div>
            <div class="frame-parent3">
              <img class="frame-inner" alt="" src=".\assets\view_agenda.jpg" />

              <b class="b">34</b>
            </div>
          </div>
          <img class="vector-icon" alt="" src=".\assets\Vector 251.jpg" />

          <div class="candidates-parent">
            <div class="assessment">Candidates</div>
            <div class="frame-parent4">
              <img
                class="frame-inner"
                alt=""
                src=".\assets\Frame 1000009353.jpg"
              />

              <div class="frame-parent5">
                <div class="parent">
                  <b class="b">11,145</b>
                  <div class="div">+89</div>
                </div>
                <div class="total-candidate">Total Candidate</div>
              </div>
              <img class="frame-child1" alt="" src=".\assets\Vector 250.jpg" />

              <div class="frame-parent5">
                <div class="parent">
                  <b class="b">1,14</b>
                  <div class="div">+89</div>
                </div>
                <div class="total-candidate">Who Attamped</div>
              </div>
            </div>
          </div>
          <img class="vector-icon" alt="" src=".\assets\Vector 247.jpg" />

          <div class="candidates-source-parent">
            <div class="assessment">Candidates Source</div>
            <div class="frame-parent4">
              <img
                class="frame-inner"
                alt=""
                src=".\assets\Frame 1000005832.jpg"
              />

              <div class="frame-parent5">
                <div class="parent">
                  <b class="b">11,000</b>
                  <div class="div">+89</div>
                </div>
                <div class="total-candidate">E-mail</div>
              </div>
              <img class="frame-child1" alt="" src=".\assets\Vector 251.jpg" />

              <div class="frame-parent5">
                <div class="parent">
                  <b class="b">145</b>
                  <div class="div">+89</div>
                </div>
                <div class="total-candidate">Social Share</div>
              </div>
              <img class="frame-child1" alt="" src="./public/vector-2511.svg" />

              <div class="frame-parent5">
                <div class="parent">
                  <b class="b">145</b>
                  <div class="div">+89</div>
                </div>
                <div class="total-candidate">Unique Link</div>
              </div>
            </div>
          </div>
          <img class="vector-icon" alt="" src="./public/vector-253.svg" />

          <div class="total-purpose-parent">
            <div class="assessment">Total Purpose</div>
            <div class="frame-parent3">
              <img
                class="frame-inner"
                alt=""
                src=".\assets\Frame 1000009100.jpg"
              />

              <b class="b">11</b>
            </div>
          </div>
        </div>
      </div>
      <div class="assessments-overview-parent">
        <div class="my-assessment-parent">
          <div class="assessments-overview">My Assessment</div>
          <div class="frame-wrapper3">
            <div class="frame-child8"></div>
          </div>
        </div>
        <div class="frame-parent13">
          <div class="frame-parent14">
            <div class="frame-parent15" id="frameContainer30">
              <div class="frame-parent16">
                <div class="add-wrapper">
                  <img class="add-icon" alt="" src="./assets/add.jpg" (click)="openNewAssessmentDialog()" />
                </div>
                <div class="new-assessment">New Assessment</div>
              </div>
              <div class="from-here-you">
                From here you can add questions of multiple types like MCQs,
                subjective (text or paragraph)!
              </div>
              <img class="vector-icon1" alt="" src="./public/vector.svg" />
            </div>
            <div class="frame-parent17">
              <div class="frame-parent18">
                <div class="frame-parent19">
                  <img
                    class="frame-child9"
                    alt=""
                    src=".\assets\Frame 1000008703.jpg"
                  />

                  <div class="math-assessment-parent">
                    <div class="assessments-overview">Math Assessment</div>
                    <div class="job-parent">
                      <div class="job">Job</div>
                      <img
                        class="frame-child10"
                        alt=""
                        src="./public/vector-333.svg"
                      />

                      <div class="calendar-today-parent">
                        <img
                          class="calendar-today-icon"
                          alt=""
                          src=".\assets\calendar_today.jpg"
                        />

                        <div class="new-assessment">20 Apr 2023</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dot-wrapper">
                  <img class="dot-icon" alt="" src=".\assets\3 dot.jpg" />
                </div>
              </div>
              <img class="frame-child11" alt="" src="./public/vector-332.svg" />

              <div class="frame-parent20">
                <div class="frame-parent21">
                  <div class="parent3">
                    <div class="assessment">00</div>
                    <div class="duration">Duration</div>
                  </div>
                  <div class="parent3">
                    <div class="assessment">00</div>
                    <div class="duration">Questions</div>
                  </div>
                </div>
                <div class="frame-parent22">
                  <div class="link-parent">
                    <a class="link">
                      <img
                        class="vector-icon2"
                        alt=""
                        src="./public/vector1.svg"
                      />

                      <img
                        class="vector-icon3"
                        alt=""
                        src="./public/vector2.svg"
                      />
                    </a>
                    <div class="assessments-overview">Share</div>
                  </div>
                  <div class="frame-wrapper4">
                    <div class="lp-wrapper">
                      <b class="lp">LP</b>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-child12"></div>
            </div>

            <div class="frame-parent17">
              <div class="frame-parent18">
                <div class="frame-parent19">
                  <img
                    class="frame-child9"
                    alt=""
                    src=".\assets\Frame 1000008703.jpg"
                  />

                  <div class="math-assessment-parent">
                    <div class="assessments-overview">Math Assessment</div>
                    <div class="job-parent">
                      <div class="job">Job</div>
                      <img
                        class="frame-child10"
                        alt=""
                        src="./public/vector-3331.svg"
                      />

                      <div class="calendar-today-parent">
                        <img
                          class="calendar-today-icon"
                          alt=""
                          src=".\assets\calendar_today.jpg"
                        />

                        <div class="new-assessment">20 Apr 2023</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dot-wrapper">
                  <img class="dot-icon" alt="" src=".\assets\3 dot.jpg" />
                </div>
              </div>
              <img
                class="frame-child11"
                alt=""
                src="./public/vector-3321.svg"
              />

              <div class="frame-parent20">
                <div class="frame-parent21">
                  <div class="parent3">
                    <div class="assessment">00</div>
                    <div class="duration">Duration</div>
                  </div>
                  <div class="parent3">
                    <div class="assessment">00</div>
                    <div class="duration">Questions</div>
                  </div>
                </div>
                <div class="frame-parent22">
                  <div class="link-parent">
                    <a class="link">
                      <img
                        class="vector-icon2"
                        alt=""
                        src="./public/vector3.svg"
                      />

                      <img
                        class="vector-icon3"
                        alt=""
                        src="./public/vector4.svg"
                      />
                    </a>
                    <div class="assessments-overview">Share</div>
                  </div>
                  <div class="frame-wrapper4">
                    <div class="frame-parent29">
                      <div class="lp-wrapper">
                        <b class="lp">LP</b>
                      </div>
                      <div class="lp-frame">
                        <b class="lp">LP</b>
                      </div>
                      <div class="lp-wrapper1">
                        <b class="lp">LP</b>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-child12"></div>
            </div>
          </div>
          <div class="frame-child17"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="frame-wrapper6">
    <div class="frame-parent30">
      <div class="frame-parent31">
        <div class="dashboard-parent">
          <img class="dashboard-icon" alt="" src="./public/dashboard.svg" />

          <div class="dashboard">Dashboard</div>
          <div class="rectangle-div"></div>
        </div>
        <div class="note-alt-parent">
          <img class="note-alt-icon" alt="" src="./public/note-alt.svg" />

          <div class="dashboard">Assessment</div>
          <div class="rectangle-div"></div>
        </div>
        <div class="quiz-parent">
          <img class="dot-icon" alt="" src="./public/quiz.svg" />

          <div class="assessments-overview">My Library</div>
        </div>
        <div class="frame-child19"></div>
        <div class="frame-child19"></div>
        <div class="frame-child19"></div>
        <div class="bill-and-plan-line-wrapper">
          <img
            class="bill-and-plan-line-icon"
            alt=""
            src="./public/bill-and-plan-line.svg"
          />
        </div>
      </div>
      <div class="vector-parent">
        <img class="frame-child22" alt="" src="./public/vector-267.svg" />

        <div class="frame-parent32">
          <div class="admin-wrapper">
            <div class="new-assessment">Admin</div>
          </div>
          <div class="admin-meds-parent">
            <img class="dot-icon" alt="" src="./public/admin-meds.svg" />

            <div class="assessments-overview">
              <p class="round">Round</p>
              <p class="round">Status</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

<div id="frameContainer" class="popup-overlay" style="display: none">
  <div class="frame-root">
    <div class="create-new-assessment-parent">
      <div class="create-new-assessment">Create new assessment</div>
      <img class="cut-icon" alt="" src="./public/cut.svg" />
    </div>
    <div class="buttons-wrapper">
      <div class="buttons">
        <div class="create-new-assessment">Save</div>
      </div>
    </div>
  </div>
</div>

<script>
  var frameContainer3 = document.getElementById("frameContainer3");
  if (frameContainer3) {
    frameContainer3.addEventListener("click", function (e) {
      // Please sync "iPhone 13 mini - 7" to the project
    });
  }

  var frameContainer30 = document.getElementById("frameContainer30");
  if (frameContainer30) {
    frameContainer30.addEventListener("click", function () {
      var popup = document.getElementById("frameContainer");
      if (!popup) return;
      var popupStyle = popup.style;
      if (popupStyle) {
        popupStyle.display = "flex";
        popupStyle.zIndex = 100;
        popupStyle.backgroundColor = "rgba(113, 113, 113, 0.3)";
        popupStyle.alignItems = "center";
        popupStyle.justifyContent = "center";
      }
      popup.setAttribute("closable", "");

      var onClick =
        popup.onClick ||
        function (e) {
          if (e.target === popup && popup.hasAttribute("closable")) {
            popupStyle.display = "none";
          }
        };
      popup.addEventListener("click", onClick);
    });
  }
</script>
