<div class="frame-parent">
    <div class="frame-group">
      <div class="name-of-assessment-wrapper">
        <div class="name-of-assessment">Name of assessment</div>
      </div>
      <input class="frame-child" type="text" required />
    </div>
    <div class="frame-group">
      <div class="name-of-assessment-wrapper">
        <div class="name-of-assessment">Purpose of the test is</div>
      </div>
      <div class="select-parent">
        <div class="name-of-assessment">Select</div>
        <img
          class="keyboard-arrow-down-icon"
          alt=""
          src=".\assets\keyboard_arrow_down.jpg"
        />
      </div>
    </div>
    <div class="frame-group">
      <div class="name-of-assessment-wrapper">
        <div class="name-of-assessment">Description</div>
      </div>
      <div class="select-parent">
        <div class="name-of-assessment">Select</div>
        <img
          class="keyboard-arrow-down-icon"
          alt=""
          src=".\assets\keyboard_arrow_down.jpg"
        />
      </div>
    </div>
    <section class="frame-section">
      <div class="name-of-assessment-wrapper">
        <div class="name-of-assessment">Skills</div>
      </div>
      <div class="frame-parent1">
        <div class="frame-parent2">
          <div class="frame-parent3">
            <button class="frame-wrapper" autofocus>
              <div class="uiux-and-design-parent">
                <div class="uiux-and-design">UI/UX and Design</div>
                <img class="close-icon" alt="" src=".\assets\close.png" />
              </div>
            </button>
            <div class="frame-wrapper1">
              <div class="uiux-and-design-parent">
                <div class="name-of-assessment">No of Question</div>
                <img class="close-icon" alt="" src=".\assets\close.png" />
              </div>
            </div>
            <div class="frame-wrapper1">
              <div class="uiux-and-design-parent">
                <div class="name-of-assessment">Web Development</div>
                <img class="close-icon" alt="" src=".\assets\close.png" />
              </div>
            </div>
          </div>
          <div class="frame-parent3">
            <div class="frame-wrapper1">
              <div class="uiux-and-design-parent">
                <div class="name-of-assessment">UI/UX and Design</div>
                <img class="close-icon" alt="" src=".\assets\close.png" />
              </div>
            </div>
            <div class="frame-wrapper1">
              <div class="uiux-and-design-parent">
                <div class="name-of-assessment">Web Development</div>
                <img class="close-icon" alt="" src=".\assets\close.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="type-here-wrapper">
          <div class="name-of-assessment">Type here</div>
        </div>
      </div>
    </section>
    <div class="frame-group">
      <div class="name-of-assessment-wrapper">
        <div class="name-of-assessment">Duration of assessment</div>
      </div>
      <select class="frame-item"></select>
    </div>
    <div class="buttons-wrapper">
        <div class="buttons">
          <div class="create-new-assessment">Save</div>
        </div>
      </div>
  </div>
  
