<div class="frame-parent">
    <div class="frame-group">
      <div class="menu-parent">
        <div class="menu">Menu</div>
        <img class="cut-icon" alt="" src="./assets/close.png" />
      </div>
      <div class="frame-wrapper">
        <div class="dashboard-parent">
          <img class="dashboard-icon" alt="" src="./assets/Vector.png" />

          <div class="menu">Dashboard</div>
        </div>
      </div>
      <div class="frame-container">
        <div class="note-alt-parent">
          <img class="note-alt-icon" alt="" src="./assets/note_alt.png" />

          <div class="assessment">Assessment</div>
        </div>
        <div class="frame-child"></div>
      </div>
      <div class="frame-wrapper">
        <div class="dashboard-parent">
          <img class="note-alt-icon" alt="" src="./assets/quiz.jpg" />

          <div class="menu">My Library</div>
        </div>
      </div>
    </div>
    <img class="frame-item" alt="" src="./public/vector-267.svg" />

    <div class="frame-wrapper1">
      <div class="frame-parent1">
        <div class="dashboard-parent">
          <img class="note-alt-icon" alt="" src="./assets/admin_meds.jpg" />

          <div class="menu">Round Status</div>
        </div>
        <div class="admin-wrapper">
          <div class="admin">Admin</div>
        </div>
      </div>
    </div>
  </div>