<div class="nav-container">
  <ul class="nav nav-underline">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">
        Assessments
        <i class="d-md-none fas fa-icon fa-chevron-right"></i>
      </a>
    </li>
    <li class="nav-item">
      <span class="nav-link">
        |
      </span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        My Assessments
        <i class="d-md-none fas fa-icon fa-chevron-right"></i>
      </a>
    </li>
    <li class="right-icon">
      <i class="fa-sharp fa-regular fa-mobile-screen-button fa-2xl"></i>
    </li>
  </ul>
  
  
</div>
