<div class="frame-parent">
  <div class="frame-child"></div>
  <div class="frame-group">
    <div class="frame-wrapper">
      <div class="frame-container">
        <div class="assessment-parent">
          <div class="assessment">Assessment</div>
          <img class="frame-item" alt="" src="./public/vector-298.svg" />

          <div class="frame-div">
            <div class="my-assessments-wrapper">
              <div class="my-assessments">My Assessments</div>
            </div>
          </div>
        </div>
        <div class="mobile-screen-share-wrapper" id="frameContainer3">
          <img
            class="mobile-screen-share-icon"
            alt=""
            src=".\assets\mobile_screen_share.jpg"
          />
        </div>
      </div>
    </div>